<footer>
    <style>
        footer{
            align-items: center;
            justify-content: center;
            padding-top: 6px;
        }
        .f-info{
            padding-top: 6px;
        }
    </style>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <p>©1991 Wanderlust pvt ltd. All rights reserved. Unauthorized distribution of any content of this website is strictly prohibited. For inquiries, contact Wanderlust@gmail.com, Owned by-@pratikgirhe"</p>
    </div>
</footer>